/*.tree, .info {
    border: 0.1em solid white;
}
*/
body {
    font-family: 'Fenix', serif;
    color: #F00;
    background: #333 url('../img/noisy_net.png') repeat;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.page {
    width: 1000px;
    margin: 0 auto;
}

a {
    color: #4FB69F;
    text-decoration: none;
}

h1 {
    font-size: 3.750em;
    letter-spacing: -1.5px;
}

.tree {
    cursor: pointer; 
    float: left;
    width: 50%;
}

.info {
    width: 50%;
    margin-left: 500px;
}


.tree li {
    list-style-type: none;
    padding: 10px 5px 0 5px;
}

/* connectors */
/*
.tree li::before {
    content: "";
    position: absolute;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}

.tree li::after {
    right:auto; 
    left: 50%;
    border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
} 
*/

.tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFF;
    font-family: helvetica, verdana, tahoma;
    font-size: 11px;
    border-radius: 50px;  
    display: inline-block;
}

#host #community {
    height: 900px;
    font-size: 0.5em;
}

/*hover effects*/
.tree li a:hover , 
.tree li a:hover+ul li a {
    background: #c8e4f8; 
    color: #000; 
    border: 1px 
    solid #94a0b4;
}
